.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    p {
        font-family: "pretendard";
        font-size: 12px;
        padding-top: 5px;
        color: #606060;
    }
    img{
        margin-top: 20px;
    }
    h2{
        font-size: 27px;
        margin-top: 10px;
        font-weight: bold;
        font-family: "pretendard";
        margin-bottom: 2px;
    }
    a{
        text-decoration: none;
        color: black;
        
    }
    a:hover{
        color: #1835D0;
    }
}
.playlist{
    width: 100%;
    border-bottom: 1px solid lightgrey;
    img{
        width: 70%;
        max-width: 500px;
    }
}
.logo{
    border-radius: 70%;
    margin-right: 8px;
}
.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: "sandbox-font";
    font-size: 30px;
    font-weight: bold;
    height: 4.5rem;
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: white;
    }
}
.made-by{
    p{
        font-family: "pretendard";
    }
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    font-weight: bold;
    img{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}
.twitch{
    @extend .made-by;
}
.page-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-bottom: 30px;
}
.btn{
    margin-right: 5px;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    img{
        width: 20%;
    }
    p{
        font-size: 15px;
        font-weight: bold;
    }
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 10px 0;
    input:focus{
        outline: 0.5px solid #89B2E9;
    }
}
.search-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: 80px;
    overflow-y: auto;
}

.search-result{
    background-color: #ecf0f1;
    width: 100%;
    max-width: 600px;
    p{
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 7px;
        padding-top:7px;
    }
    p:hover{
        background-color: #E38686;
    }
}